@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {
    
    body{
        background-image: linear-gradient(to bottom, #056170, #B6BDBF );
    }

    section{
        width: 80%; 
        height: 33vh;       
        
        
    }

    #img{
        float: left;
        width: 40%;
        height: 100%;
    }

    #login{
        float: right;
        width: 50%;   
            
        
    }
   

}


@media screen and ( min-width:992px) {
    body{
        background-image: linear-gradient(to bottom, #053c44, #999fa1 );

    }
    
    section{
        width: 80%;
        height: 35vh;
       
    }
    #img{
        float: right;
        width: 40%;         
        height: 100%;
    }
    
    #login{
        float: right;  /*mudar o local da img*/
        width: 50%;         
        
    }
  


   
}