@charset "UTF-8";


@media screen and (min-width:768px) and (max-width:992px) {
    
    body{
        background-image: linear-gradient(to bottom, #056170, #B6BDBF );   
        
        
    }
    
    section{        
        width: 80%; 
        height: 70%;  

                                         
    }

    #img{
        float: left;
        width: 40%;
        height: 100%;
    }

    #login{
        float: right;
        width: 50%;             
        
    }
    p{
        font-size: 1em;
    }
   
    input{
        text-align: center;
        background-color: white;    
        border-radius: 5px;
        margin: 2px;
        height: 30px;
        width: 31vw;    
        
    }             
    
    .dados{
        text-align: right ;    
        background-color: #0d647883 ;      
        margin: 5px;
        height: 40px;
        border-radius: 5px;
    } 
   

}


@media screen and ( min-width:992px) {
    body{
        background-image: linear-gradient(to bottom, #053c44, #999fa1 );
        

    }
    
    section{
        width: 80%;             
            
    }

    #img{
        float: right;
        width: 40%;         
        height: 100%;
    }
    
    #login{
        float: right;  /*mudar o local da img*/
        width: 50%;         
        
    }
  
    p{
        font-size: 1.2em;
       
    }

    input{
        width: 33vw;  
    }
    .comandos{
        height: 5vh;
        width: 38.6vw;
    }


   
}